@page "/"
@inject Blazor.Services.DatabaseService db
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@using DomainModels

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">


<PageTitle>Welcome to Sunset Resort</PageTitle>
<div class="home-background">
    <img src="/Maws-hoteller-photos/background-pic.png" alt="Alternate Text" />
    <h1 class="home-title">Sunset Resort</h1>
    <p class="home-subtitle">Welcome to the Sunset Resort!</p>
</div>

<div class="container">
    <div class="jumbotron text-center mt-4">
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="jumbotron col-md-3 text-center category">
            <i class="bi bi-star-fill"></i>
            <h3>Luxurious Rooms</h3>
            <p>Our rooms are designed to provide you with ultimate comfort and relaxation.</p>
        </div>
        <div class="jumbotron col-md-3 text-center category">
            <i class="bi bi-cup-hot-fill"></i>
            <h3>Fine Dining</h3>
            <p>Enjoy gourmet cuisine prepared by our world-class chefs.</p>
        </div>
        <div class="jumbotron col-md-3 text-center category">
            <div class="category-icon"><i class="bi bi-binoculars"></i></div>
            <h3>Scenic Views</h3>
            <p>Experience breathtaking views of the ocean and the surrounding nature.</p>
        </div>
    </div>


    <div class="container">
        <h1 class="text-center mt-4 card-section-title">Available Rooms</h1>
        <hr class="hr"/>
        <div class="d-flex justify-content-around">

            <!-- Card 1 with toggler -->
            <div class="card-container">
                <div class="toggler">
                    <input id="toggler-1" name="toggler-1" type="checkbox" value="1" @onclick="ToggleCardVisibility">
                    <label for="toggler-1">
                        <i class="bi bi-people toggler-on"></i>
                        <i class="bi bi-person toggler-off"></i>
                    </label>
                </div>
                <div class="card" style="margin-top: 2rem">
                @if (isCard1Visible)
                {
                    <img class="card-img-top" src="@allRooms.FirstOrDefault(r => r.Type == 1)?.Photos.ToString()" alt="Standard Room" />
                    <div class="card-body">
                        <h5 class="card-title">@allRooms.FirstOrDefault(r => r.Type == 1)?.Name.ToString()</h5>
                        <p class="card-text">@allRooms.FirstOrDefault(r => r.Type == 1)?.Description.ToString()</p>
                        <div class="price-book-container">
                            <p class="card-text price">@allRooms.FirstOrDefault(r => r.Type == 1)?.Price.ToString("C")</p>
                            <button class="card-btn" @onclick="() => FindAndNavigateToRoom(1)">
                                <i class="bi bi-cart-plus"></i> <p class="text">Book now</p>
                            </button>
                        </div>
                    </div>
                }
                else
                {
                    <img class="card-img-top" src="@allRooms.FirstOrDefault(r => r.Type == 2)?.Photos.ToString()" alt="Standard Room" />
                    <div class="card-body">
                        <h5 class="card-title">@allRooms.FirstOrDefault(r => r.Type == 2)?.Name.ToString()</h5>
                        <p class="card-text">@allRooms.FirstOrDefault(r => r.Type == 2)?.Description.ToString()</p>
                        <!-- Vis prisen for komfortværelset -->
                        <div class="price-book-container">
                            <p class="card-text price">@allRooms.FirstOrDefault(r => r.Type == 2)?.Price.ToString("C")</p>
                            <button class="card-btn" @onclick="() => FindAndNavigateToRoom(2)">
                                <i class="bi bi-cart-plus"></i> <p class="text">Book now</p>
                            </button>
                        </div>
                    </div>
                }
                </div>
            </div>


            <div class="card">
                <img class="card-img-top" src="@allRooms.FirstOrDefault(r => r.Type == 5)?.Photos.ToString()" alt="Standard Room" />
                <div class="card-body">
                    <h5 class="card-title">@allRooms.FirstOrDefault(r => r.Type == 5)?.Name.ToString()</h5>
                    <p class="card-text">@allRooms.FirstOrDefault(r => r.Type == 5)?.Description.ToString()</p>
                    <!-- Vis prisen for suiteværelset -->
                    <div class="price-container">
                        <div class="price-book-container">
                            <p class="card-text price">@allRooms.FirstOrDefault(r => r.Type == 5)?.Price.ToString("C")</p>
                            <button class="card-btn" @onclick="() => FindAndNavigateToRoom(5)">
                                <i class="bi bi-cart-plus"></i> <p class="text">Book now</p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card 3 with toggler -->
            <div class="card-container">
                <div class="toggler">
                    <input id="toggler-3" name="toggler-3" type="checkbox" value="3" @onclick="ToggleCardVisibility3">
                    <label for="toggler-3">
                        <i class="bi bi-people toggler-on"></i>
                        <i class="bi bi-person toggler-off"></i>
                    </label>
                </div>
                <div class="card" style="margin-top: 2rem">
                    @if (isCard3Visible)
                    {
                        <img class="card-img-top" src="@allRooms.FirstOrDefault(r => r.Type == 3)?.Photos.ToString()" alt="Standard Room" />
                        <div class="card-body">
                            <h5 class="card-title">@allRooms.FirstOrDefault(r => r.Type == 3)?.Name.ToString()</h5>
                            <p class="card-text">@allRooms.FirstOrDefault(r => r.Type == 3)?.Description.ToString()</p>
                            <div class="price-book-container">
                                <p class="card-text price">@allRooms.FirstOrDefault(r => r.Type == 3)?.Price.ToString("C")</p>
                                <button class="card-btn" @onclick="() => FindAndNavigateToRoom(3)">
                                    <i class="bi bi-cart-plus"></i> <p class="text">Book now</p>
                                </button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <img class="card-img-top" src="@allRooms.FirstOrDefault(r => r.Type == 4)?.Photos.ToString()" alt="Standard Room" />
                        <div class="card-body">
                            <h5 class="card-title">@allRooms.FirstOrDefault(r => r.Type == 4)?.Name.ToString()</h5>
                            <p class="card-text">@allRooms.FirstOrDefault(r => r.Type == 4)?.Description.ToString()</p>
                            <!-- Vis prisen for komfortværelset -->
                            <div class="price-book-container">
                                <p class="card-text price">@allRooms.FirstOrDefault(r => r.Type == 4)?.Price.ToString("C")</p>
                                <button class="card-btn" @onclick="() => FindAndNavigateToRoom(4)">
                                    <i class="bi bi-cart-plus"></i> <p class="text">Book now</p>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
           

        </div>
        <br/>
    </div>
</div>





@code {
    public string current;
    public bool ascending = true;

    public List<DomainModels.Room> allRooms = new List<DomainModels.Room>();
    public List<DomainModels.Booking> allBookings = new List<DomainModels.Booking>();

    public int booked_count = 0;
    public int total_rooms = 0;

    protected override async Task OnInitializedAsync()
    {
        allRooms = await dbService.GetRooms();
        allBookings = await dbService.GetBookingsForToday();
        total_rooms = allRooms.Count;
    }



    public async Task FindAndNavigateToRoom(int roomType)
    {
        if (AppState.LoggedIn)
        {
            // Find a free room of the given type
            var freeRoom = allRooms.FirstOrDefault(r => r.Type == roomType && !r.CurrentlyBooked);

            if (freeRoom != null)
            {
                // Navigate to room details if a free room is found
                navManager.NavigateTo($"/room-details/{freeRoom.Id}");
            }
            else
            {
                // Optionally, show a message or alert if no rooms are available
                await JSRuntime.InvokeVoidAsync("alert", "No available rooms of this type at the moment.");
            }
        }
        else
        {
            navManager.NavigateTo("/login");

        }

    }

    public void gotoBooking(int id)
    {
        
        if (!AppState.LoggedIn)
        {
            navManager.NavigateTo("/login");
        }
        else
        {
            navManager.NavigateTo($"/room-details/{id}");
        }
    }
    private void SetSortColumn(string colunm)
    {
        if (current == colunm)
        {
            ascending = !ascending;
        }
        else
        {
            current = colunm;
            ascending = true;
        }

        SortRooms(current);
    }

    private void SortRooms(string colunm)
    {
        switch (colunm)
        {
            case "Id":
            allRooms = ascending ? allRooms.OrderBy(r => r.Id).ToList() : allRooms.OrderByDescending(r => r.Id).ToList();
            break;
            case "Price":
            allRooms = ascending ? allRooms.OrderBy(r => r.Price).ToList() : allRooms.OrderByDescending(r => r.Price).ToList();
            break;
            case "Type":
            allRooms = ascending ? allRooms.OrderBy(r => r.Type).ToList() : allRooms.OrderByDescending(r => r.Type).ToList();
            break;
            case "CurrentlyBooked":
            allRooms = ascending ? allRooms.OrderBy(r => r.CurrentlyBooked).ToList() : allRooms.OrderByDescending(r => r.CurrentlyBooked).ToList();
            break;
        }
    }


    private bool isCard1Visible = true;
    private bool isCard3Visible = true;

    public void ToggleCardVisibility()
    {
        isCard1Visible = !isCard1Visible;
        
    }
    public void ToggleCardVisibility3()
    {
        
        isCard3Visible = !isCard3Visible;
    }


}